@page
@model CompletedModel

<div class="text-center">
    <h1>Thanks!</h1>
    <p>Thanks for placing order #@Model.OrderID</p>
    <p>We'll ship your goods as soon as possible</p>
    <a asp-controller="Home" class="btn btn-primary">Return to Store</a>
</div>